.mainTitle {
	font-weight:	bold;
	font-size:		3em;
}

table {
	width:			100%;
}

table td{
	vertical-align:	top;
}

pre, code {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}